.coveralls.yml
.data
.DS_Store
.env
.env.sample
.git
.gitignore
.image-cache
.travis.yml
*.md
phpcs.xml
phpcs.xml.dist
phpunit.xml
phpunit.xml.dist
app.json
appveyor.yml
Dockerfile
error_log
LICENSE
SlackemonCodeStandards
tests
vendor
