<?xml version="1.0"?>
<ruleset>  

  <!-- Automatically check all our PHP source files. -->
  <file>./lib</file>
  <file>./src</file>
  <file>./tests</file>
  <file>./config.php</file>
  <file>./cron.php</file>
  <file>./index.php</file>

  <arg name="colors" />
  <arg value="sp" />

  <!-- Use the TMCodeStandards, which are based on the WordPress standards with modifications. -->
  <!-- Create a phpcs.xml file if you wish to change these standards further or adjust other phpcs settings. -->
  <!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml for help. -->
  <!-- Further help is also available at https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage. -->
  <rule ref="TMCodeStandards"/>

  <!-- Exclude some checks for tests, because test naming conventions must follow PHPUnit rules. -->
  <rule ref="WordPress.Files.FileName">
    <exclude-pattern>./tests</exclude-pattern>
  </rule>

</ruleset>
